#Langchain core
langchain
langchain-core

#openai integration
openai
langchain-openai

#Anthropic integration
langchain-anthropic

# googlegemini (palm) integration
langchain-google-genai
google-generativeai

## huggingface integration
langchain-huggingface
transformers
huggingface-hub

#Envarment variable management
python-dotenv

#machine learning utilities
numpy
scikit-learn